html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  width: 85%;
  margin: auto;
  font-size: 62.5%;
}
img {
  border-radius: 15%;
}
header {
  width: 90%;
  display: flex;
  justify-content: center;
  height: 15vh;
  margin: auto;
}
header nav {
  font-size: 1.4rem;
  white-space: nowrap;
  margin: auto;
}
header nav a {
  text-decoration: none;
  color: black;
  border-left: 1px solid black;
  padding-left: 3%;
}
header nav :nth-child(1) {
  border-left: none;
}
.title-container {
  height: 60%;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  align-items: center;
  background-image: url("../assets/home.png");
  background-position: center;
  background-size: cover;
}
.title-container h1 {
  font-size: 3rem;
  color: white;
  align-self: center;
  text-align: center;
  padding-top: 15vw;
}
.title-container button {
  width: 20vw;
  margin: 5%;
}
hr {
  margin-top: 4%;
  border: 1px solid gray;
  width: 100%;
}
.artists-container {
  width: 100%;
  display: flex;
}
@media (max-width: 500px) {
  .artists-container {
    flex-direction: column;
    align-items: center;
  }
}
.artists-container .artist {
  display: flex;
  width: 40%;
  flex-direction: column;
  margin: 5%;
  align-items: center;
}
@media (max-width: 500px) {
  .artists-container .artist {
    width: 65%;
  }
}
.artists-container .artist img {
  width: 80%;
}
.artists-container .artist a {
  font-size: 1rem;
  margin: 4% auto;
  text-decoration: none;
  color: #2f2f2f;
}
.artists-container .artist div {
  color: #2f2f2f;
  font-size: 0.6rem;
  text-align: center;
}
