header {
  width: 90%;
  display: flex;
  justify-content: center;
  margin: 5%;

  nav {
    font-size: 1.4rem;
    white-space: nowrap;
    margin: auto;
    a {
      text-decoration: none;
      color: black;
      border-left: 1px solid black;
      padding: 1%;
    }
    a:nth-child(1) {
      border-left: none;
    }
  }
}
